// Colors

$primary-color			: #333;
$primary-font-color		: #ffffff;
$third-color			: #f7f7f7;

$white					: #fff;//White Color
$black					: #000;//Black Color
$greyshadow				: #b1b1b1;

$goGreen				: #3eb157;//Green Color - Success
$lemonYellow			: #dba26b;//Yellow Color - Warning
$nagpurOrange			: #f26645;//Orange Color - Warning
$jetBlue 				: #15295c;//Blue Color - Info
$rubyRed 				: #d13736;//Red Color - Danger/Error

