//MAIN RESPONSIVE UTILITIES

//media query phone screen
@media (min-width: 200px) and (max-width: 600px) {
	.main-section-aboutme{
		.space-testiaboutme{
			margin-top: 10px !important;
			padding-left: 0px !important;
			padding-right: 0px !important;
		}
	}
	h1.text-centerred{
		font-size: 24px !important;
	} 
	h2.text-centerred{
		font-size: 24px !important;
	}
	.m-b-100{
		margin-bottom: 25px;
	}
	.m-t-100{
		margin-top: 25px;
	}
}

@media (min-width: 300px) and (max-width: 375px){
	.container-barplayer {
		.text-desc__video{
			top: 6em !important;
		}
	}

	.footer-container{
		.wrapper-contact-us{
			.about-contact__us{
				top: 10vh !important;
				text-align: center;
			}
			h1.text-uppercase{
				font-size: 20px;
				margin-top: 50px;
			}
			h2.text-center{
				font-size:1.5em;
			}
		}
	}
}

/* @media (min-width: 200px) and (max-width: 375px){
	.footer-container{
		.wrapper-contact-us{
			.about-contact__us{
				top: 15vh !important;
				text-align: center;
			}
		}
	}
}
 */
@media (min-width: 385px) and (max-width: 475px){
	.footer-container{
		.wrapper-contact-us{
			.about-contact__us{
				top: 23vh !important;
			}
		}
	}
}


//media query tablet and desktop screen
@media (min-width:768px) and (max-width: 1366px){
	.main-section-aboutme{
		.space-testiaboutme{ 
			.text-centerred{
				// font-size: 25px !important;
			}	 
		} 
	}
	.space-testiaboutme{
		margin-top: 0px !important;
	}
	.m-t-100{
		margin-top: 0px !important;
	}
} 


