/*========== INITIALIZER STYLES KINEMA ================
	Author  : Dimas Prasetyo;
	Email   : dimasprasetyo485@gmail.com;
	Version : 1.0;
=======================================================*/
*{
	margin: 0;
	padding: 0;
}
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%; 
}
body {
  	margin: 0; 
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  	display: block; 
}
audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline; 
}
a {
  	background-color: transparent; 
}
a:active, a:hover {
  	outline: 0; 
}
h1.title{
	font-weight: bold;
	color: #000;
}
.clear:before, .clear:after {
  	content: ' ';
  	display: table; }
.clear {
  	*zoom: 1; 
}
.clear:after {
	clear: both; 
}

/*==================== MAIN =======================*/
.main-section-aboutme .space-testiaboutme{
	margin-top: 150px;
}
.main-section-aboutme .space-testiaboutme .aboutme{
	font-size: 16px;
	line-height: 25px;
	font-style: italic;
	color: #000;
}
.main-section-aboutme .space-testiaboutme .text-centerred{
	text-align: center;
}

/*=============== IMAGE GRAYSCALE =============== */
img.grayscales {
  filter: gray;
  -webkit-filter: grayscale(100%);
  -webkit-transition: all .6s ease;
  -webkit-backface-visibility: hidden;
  cursor: pointer;
}
img.grayscales:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  cursor: pointer;
}

/*======= BOOTSTRAP CUSTOM COMPONENT ============ */
.form-group-bottom-10{
	margin-bottom:10px; 
}
.form-group-bottom-25{
	margin-bottom: 25px;
}
.form-group-bottom-100{
	margin-bottom: 100px;
}
