/*========== INITIALIZER STYLES KINEMA ================
	Author  : Dimas Prasetyo;
	Email   : dimasprasetyo485@gmail.com;
	Version : 1.0;
=======================================================*/
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

a {
  background-color: transparent;
}
a:active, a:hover {
  outline: 0;
}

h1.title {
  font-weight: bold;
  color: #000;
}

.clear {
  *zoom: 1;
}
.clear:before {
  content: ' ';
  display: table;
}
.clear:after {
  content: ' ';
  display: table;
  clear: both;
}

/*BRANDING IMAGES LEFT */
.main-branding-kinema img.branding-images {
  padding: 25px;
}

/* NAVIGATION RIGHT */
nav {
  display: none;
  position: fixed;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: right;
  z-index: 100;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  width: auto;
  list-style: none;
}
nav a {
  display: block;
  line-height: 25px;
  position: relative;
  padding-right: 20px;
}
nav a:hover .nav-label {
  color: #b1b1b1 !important;
  text-decoration: none !important;
  font-weight: bold;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
nav .nav-dot {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
  top: 50%;
  background-color: #b1b1b1;
  border-radius: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
nav .nav-label {
  display: block;
  opacity: 0.5;
  visibility: hidden;
  -webkit-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  transform: translateX(-10px);
  -webkit-transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
nav .is-dark a {
  color: #212121;
}
nav .is-dark .nav-dot {
  background-color: #000;
}
nav .is-light a {
  color: #ffffff;
}
nav .is-light .nav-dot {
  background-color: rgba(255, 255, 255, 0.5);
}

/* MAIN SECTION ABOUT ME & PORTOFOLIOS BRANDING TEXT */
.main-section-aboutme .space-testiaboutme {
  margin-top: 150px;
}
.main-section-aboutme .space-testiaboutme .text-centerred {
  text-align: center;
}

.aboutme, .main-section-aboutme .space-testiaboutme, .main-section-portofolios {
  font-size: 16px;
  line-height: 25px;
  color: #000;
}

/* MAIN PORTOFOLIO IMAGE GRAYSCALE*/
.main-section-portofolios .section-main-portofolio img.grayscales {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-backface-visibility: hidden;
  cursor: pointer;
}
.main-section-portofolios .section-main-portofolio img.grayscales:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  -moz-box-shadow: #b1b1b1 8px -8px 2px;
  -webkit-box-shadow: #b1b1b1 8px -8px 2px;
  -o-box-shadow: #b1b1b1 8px -8px 2px;
  box-shadow: #b1b1b1 8px -8px 2px;
  cursor: pointer;
}

/*SOCIAL ICON'S */
.space-testisocials ul.ul-outersocial {
  margin: auto !important;
  padding: inherit;
}
.space-testisocials ul.ul-outersocial li.li-outersocial {
  list-style: none;
}
.space-testisocials ul.ul-outersocial li.li-outersocial a.box-outersocial {
  display: block;
  margin: 0 4px;
  float: left;
  width: 35px;
  height: 35px;
  background-color: #b1b1b1;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.space-testisocials ul.ul-outersocial li.li-outersocial a.box-outersocial i.icon-inside {
  margin: auto;
  padding: 5px 7px;
  font-size: 23px;
  color: #fff;
}
.space-testisocials ul.ul-outersocial li.li-outersocial a.box-outersocial i.icon-insidei.icon-inside:hover {
  cursor: pointer;
}

/* ANIMATION */
.no-touch .slideInUp {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
}
.no-touch .is-active .slideInUp {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slideInUp .slideInUp2 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.slideInUp .slideInUp3 {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

/* BOOTSTRAP CUSTOM COMPONENT */
.form-group-bottom-10 {
  margin-bottom: 10px;
}

.form-group-bottom-25 {
  margin-bottom: 25px;
}

.form-group-bottom-100 {
  margin-bottom: 100px;
}

/*# sourceMappingURL=kinema.css.map */
